html {
	width: 100%;
	height: 100%;
}
body {
	background: url('../img/bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
}

.centerh {
	left: 0;
	right: 0;
	position: absolute;
	margin-top: auto;
	margin-left: auto !important;
	margin-right: auto !important;
}

.centerv {
	top: 0;
	bottom: 0;
	position: absolute;
	margin-top: auto !important;
	margin-bottom: auto !important;
}

#Rules > li {
	font-size: 1.2em;
}

.center {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin: auto !important;
}

#form-signin-container {
	position: absolute;
	width: 300px;
	height: 250px;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	top: 0;
}

#form-signin {
	width: : 100%;
	height: 100%;
	max-width: 400px;
}

.box {
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);

}

#form-signin-heading {
	margin-bottom: 10px;
}

#form-signin input[type="text"],
#form-signin input[type="password"]{
	font-size: 16px;
	height: auto;
	/*margin-bottom: 15px;*/
	padding: 5px;
}

#teamid {
	width: 185px;
}
.add-on {
	padding: 7px 9px !important;
}


#main-content {
	left: 20%;
	right: 20%;
	width: auto;
	height: auto;
	top: 20%;
	bottom: auto;
	display: inline-block;
}

#main-content h2 {
	text-align: center;
}

#clang {
	background: url('../img/c.png') no-repeat;
	float: left;
	margin-left: 40px;
}

#cpplang {
	background: url('../img/cpp.png') no-repeat;
	float: right;
	margin-right: 40px;
}

#cpplang, #clang {
	margin-top: 30px;
	background-size: 100% 100%;
	width: 200px;
	height: 200px;
	cursor: pointer;
}

#paginator, #submitsol, #compilesol  {
	width: 200px;
	position: absolute;
	/*margin: auto !important;*/
}

#paginator {
	margin: 0 auto 0;
}

#submitsol {
	left: 43%;
}

#compilesol {
	left: 43%;
	top: 580px;
}
